
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>后台弹窗模版页</title>
    @Styles.Render("~/Content/Shared/css")
    <style>

        .layout-container{
            padding: 20px;
        }

    </style>
</head>
<body>
    <div class="layout-container">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
</body>
</html>
